/target/
nb-configuration.xml
/nbactions.xml
src/test/resources/org/gdms/gdmstopology/nantes_1.edges.dbf
src/test/resources/org/gdms/gdmstopology/nantes_1.edges.shp
src/test/resources/org/gdms/gdmstopology/nantes_1.edges.shx
.idea/
gdms-topology.iml
*.bak
